body {
  background-color: #dce0e5;
}

header {
  background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8c393a;
}

.inputBar {
  height: 30px;
  width: 320px;
  margin-bottom: 20px;
  padding-left: 30px;
  display: flex;
  outline: none;
}

.button {
  padding: 10px 40px;
  /* border: none; */
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

/* .delete.edit{
  width:50px;
  color: blue;
} */

.buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 200px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  color: #8c393a;
}

.bookDiv {
  display: flex;
  flex-wrap: wrap;
}
